body {
  margin: 0;
  padding: 0;
  }

table {
  border-collapse:collapse;
  mso-table-lspace:0;
  mso-table-rspace:0; 
  }

h1 {
  margin:0.67em 0;
  font-size:2em;
  }
h2 {
  margin:0.83em 0;
  font-size:1.5em;
  }

html[dir] h3, h3 {
  margin:1em 0;
  font-size:1.17em;
  }

span.MsoHyperlink {
  color: inherit !important;
  mso-style-priority: 99 !important;
  }

span.MsoHyperlinkFollowed {
  color: inherit !important;
  mso-style-priority: 99 !important;
  }

#root [x-apple-data-detectors=true],
a[x-apple-data-detectors=true]{
  color: inherit !important;
  text-decoration: inherit !important;
  }

u + .body a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  }

.body {
  word-wrap: normal;
  word-spacing:normal;
  }

div[style*="margin: 16px 0"] {
  margin: 0!important;
  }

#message *{
  all:revert
  }
